.SideBar
  .SideHeader
    .SideHeader__user 
      %h1.SideHeader__name masa 
      %ul.SideHeader__IconList
        %li
          = link_to "#", class: "SideHeader__icon" do
            = icon('fas', 'edit')
        %li
          = link_to "#", class: "SideHeader__icon" do
            = icon('fas', 'cog')

  .groups
    .groups__list 
      .groups__list--name techcamp
      .groups__list--message まだメッセージがありません

    .groups__list 
      .groups__list--name techcamp
      .groups__list--message まだメッセージがありません


  